$primary-color:black;
$secondary-color: 'blue';
.MainCard {
  width: 60pc;
  margin-left: 5pc;
  margin: 2pc; 
  background-color: #FAF5F5;
  padding-top: 10px;
  border-radius: 15pt;
  padding-bottom: 2pc;

}

.Container {
  text-align: center;
  outline-style: 1;
  margin: 10px;
  border-width: 1px;
}

.Button {
  margin-left: 10px;  
  border-radius: 15pt;
  background-color: #E6CACA;
}

.Table {
  margin: 2pc;
  margin-left: 5pc;
  width: 75%;
}

.SearchBox {
  border-radius: 15pt;
  
}

.ImageCell {
  width: '250px';
  text-align: 'center'; 
  margin: '5px';
}
